.mt-20 {
  margin-top: 20px; }

.mt-40 {
  margin-top: 40px; }

.mt-60 {
  margin-top: 60px; }

.mt-80 {
  margin-top: 80px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-80 {
  margin-bottom: 80px; }

.pt-20 {
  padding-top: 20px; }

.pt-40 {
  padding-top: 40px; }

.pt-60 {
  padding-top: 60px; }

.pt-80 {
  padding-top: 80px; }

.pt-200 {
  padding-top: 200px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-80 {
  padding-bottom: 80px; }

.center-txt {
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important; }

body, html {
  height: 100% !important;
  background-color: #282e34;
  font-family: "Lato", sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.8em !important;
  color: #666 !important; }

.nav-wrapper {
  position: fixed;
  width: 100%;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 20px;
  z-index: 10; }
  .nav-wrapper .logo {
    max-width: 150px;
    display: block; }
    .nav-wrapper .logo img {
      width: 100%;
      height: auto; }
  .nav-wrapper .nav-bar {
    display: none; }
    .nav-wrapper .nav-bar ul {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .nav-wrapper .nav-bar ul li {
        display: block;
        padding: 0;
        font-size: 18px; }
        .nav-wrapper .nav-bar ul li a {
          text-decoration: none;
          color: #fff; }
          .nav-wrapper .nav-bar ul li a:hover {
            color: #5CE0E6; }

.black-bg {
  background: #000;
  z-index: 10; }

.hero-area, .img2-area, .img3-area {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.hero-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.68)), url("/images/flow-img2.jpg");
  min-height: 100%;
  padding: 250px 0 20px; }

.img2-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.55)), url("/images/flow-coffee-seeds.jpg");
  min-height: 400px; }

.img3-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.68)), url("/images/flow-img4.jpg");
  min-height: 400px; }

.img4-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.68)), url("/images/chocolate-cake.jpg");
  background-size: cover;
  background-position: bottom center;
  min-height: 600px; }

.section {
  text-align: center;
  padding: 50px 0; }

.section-light {
  background-color: #f4f4f4;
  color: #666; }

.section-dark {
  background: linear-gradient(#05171b, #282e34);
  color: #fff; }

.hero-text {
  width: 100%;
  text-align: center;
  letter-spacing: 8px;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
  .hero-text .hero-title {
    font-size: 38px;
    font-weight: 600;
    color: #fff; }
  .hero-text .hero-subtitle {
    font-size: 25px;
    font-weight: 600;
    color: #5CE0E6; }
  .hero-text .hero-content {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 3px; }
  .hero-text .menu-btn {
    text-decoration: none;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer; }
    .hero-text .menu-btn:hover {
      background: #5CE0E6;
      padding: 20px 26px;
      font-size: 18px;
      transition: 0.35s ease-out; }

.wrapper-menu-images .leftside, .wrapper-menu-images .rightside {
  height: 35vh;
  width: 100%;
  font-family: 'Monoton', cursive; }

.wrapper-menu-images .halfscreen-content {
  position: relative;
  top: 75%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .wrapper-menu-images .halfscreen-content a {
    text-decoration: none;
    color: #fff; }
    .wrapper-menu-images .halfscreen-content a:hover {
      color: #5CE0E6;
      font-size: 45px;
      transition: 0.35s ease-out;
      text-decoration: none; }

.img1-text, .img2-text, .img3-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  letter-spacing: 8px; }

.img2-text {
  font-weight: 600;
  color: #fff; }
  .img2-text .img-title {
    font-size: 40px; }
  .img2-text .img-subtitle {
    font-size: 30px; }

.img3-text {
  font-weight: 600;
  color: #fff; }
  .img3-text .img-title {
    font-size: 40px; }
  .img3-text .img-subtitle {
    font-size: 30px; }
  .img3-text p {
    font-size: 30px;
    font-weight: bold; }

.burger {
  display: block; }
  .burger div {
    width: 25px;
    height: 3px;
    background: #ccc;
    margin: 5px; }

.active {
  display: flex !important;
  position: absolute;
  top: 90%;
  left: 0;
  background: #000;
  width: 100%;
  justify-content: center; }

@media only screen and (min-width: 768px) {
  .hero-text {
    width: 50%; }
    .hero-text .hero-title {
      font-size: 40px;
      font-weight: 600;
      color: #fff; }
    .hero-text .hero-subtitle {
      font-size: 30px;
      font-weight: 600;
      color: #5CE0E6; }
    .hero-text .hero-content {
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      letter-spacing: 3px; } }

@media only screen and (min-width: 980px) {
  .nav-wrapper {
    justify-content: center;
    align-items: center;
    padding: 10px 60px; }
    .nav-wrapper .nav-bar {
      display: block; }
      .nav-wrapper .nav-bar ul {
        margin-bottom: 0;
        display: block; }
        .nav-wrapper .nav-bar ul li {
          display: inline-block;
          padding: 20px;
          font-size: 20px; }
          .nav-wrapper .nav-bar ul li a {
            text-decoration: none;
            color: #fff; }
            .nav-wrapper .nav-bar ul li a:hover {
              color: #5CE0E6; }
  .burger {
    display: none; }
  .wrapper-menu-images .halfscreen-content {
    font-size: 40px; } }

.gallery-wrapper {
  width: 100%;
  height: auto;
  background-color: #282e34;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px; }

.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas: 'img-1 img-1 img-1 img-1' 'img-2 img-2 img-2 img-2' 'img-3 img-3 img-3 img-3' 'img-4 img-4 img-4 img-4' 'img-5 img-5 img-5 img-5' 'img-6 img-6 img-6 img-6' 'img-7 img-7 img-7 img-7' 'img-8 img-8 img-8 img-8'; }
  @media only screen and (min-width: 768px) {
    .image-gallery {
      grid-template-areas: 'img-1 img-1 img-2 img-2' 'img-3 img-3 img-4 img-4' 'img-5 img-5 img-6 img-6' 'img-7 img-7 img-8 img-8'; } }
  @media only screen and (min-width: 1024px) {
    .image-gallery {
      grid-template-areas: 'img-1 img-2 img-3 img-3' 'img-1 img-4 img-5 img-6' 'img-7 img-7 img-8 img-6'; } }

.image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; }
  .image-gallery a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #5cdfe68c;
    opacity: 0;
    transition: opacity .5s; }
  .image-gallery a:hover i, .image-gallery a:hover::before {
    opacity: 1; }

.image-gallery a i {
  font-size: 3rem;
  position: relative;
  z-index: 100;
  page-break-after: 1rem 3rem;
  border: 2px solid #ffffffb4;
  border-radius: .4rem;
  opacity: 0;
  transition: opacity .5s; }

.img-1 {
  grid-area: img-1;
  background-image: url("/images/image-5.jpg");
  background-position: center;
  background-size: contain; }
  @media only screen and (min-width: 1024px) {
    .img-1 {
      min-height: 51.5rem; } }

.img-2 {
  grid-area: img-2;
  background-image: url("/images/flow-esp.jpg"); }

.img-3 {
  grid-area: img-3;
  background-image: url("/images/flow-img3.jpg"); }

.img-4 {
  grid-area: img-4;
  background-image: url("/images/flow-img4.jpg"); }

.img-5 {
  grid-area: img-5;
  background-image: url("/images/flow-img5.jpg"); }

.img-6 {
  grid-area: img-6;
  background-image: url("/images/menu-coffee.jpg"); }
  @media only screen and (min-width: 1024px) {
    .img-6 {
      min-height: 51.5rem; } }

.img-7 {
  grid-area: img-7;
  background-image: url("/images/flow-img2.jpg"); }

.img-8 {
  grid-area: img-8;
  background-image: url("/images/flow-img1.jpg"); }

.section-contact {
  padding: 155px 0 50px;
  height: 65vh;
  text-align: center; }
  .section-contact .text-box {
    text-align: center;
    background-color: transparent;
    color: #fff;
    margin-top: 50px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px; }
    @media only screen and (min-width: 768px) {
      .section-contact .text-box {
        font-size: 42px; } }
    .section-contact .text-box span {
      background-color: #5CE0E6;
      color: #282e34;
      padding: 2px 5px;
      margin-right: 5px;
      border-radius: 4px; }
  .section-contact .info {
    margin-bottom: 40px; }
    .section-contact .info span {
      display: block;
      font-size: 18px; }
      @media only screen and (min-width: 768px) {
        .section-contact .info span {
          font-size: 22px; } }
    .section-contact .info p {
      font-size: 16px; }
      @media only screen and (min-width: 768px) {
        .section-contact .info p {
          font-size: 18px; } }
  .section-contact .contact-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 1130px) {
      .section-contact .contact-wrapper {
        flex-direction: row; } }
    .section-contact .contact-wrapper .fb-posts, .section-contact .contact-wrapper .insta-posts {
      width: 100%;
      max-width: 500px;
      max-height: 300px; }
      .section-contact .contact-wrapper .fb-posts img, .section-contact .contact-wrapper .insta-posts img {
        height: 100%;
        width: 100%;
        border-radius: 25px; }

.footer {
  background-color: #212529;
  padding: 50px 0 0;
  color: #fff; }
  .footer ul {
    margin: 30px 0;
    list-style: none; }
  .footer .social-wrapper {
    margin: 30px 0; }
    .footer .social-wrapper span {
      margin: 10px; }
      .footer .social-wrapper span a {
        text-decoration: none;
        color: #fff;
        cursor: pointer; }
        .footer .social-wrapper span a:hover {
          text-decoration: none; }
        .footer .social-wrapper span a i {
          font-size: 42px; }
  .footer .mapouter {
    position: relative;
    padding-bottom: 30.25%;
    padding-top: 5px;
    height: 0;
    overflow: hidden; }
    @media only screen and (min-width: 768px) {
      .footer .mapouter {
        padding-bottom: 43.25%; } }
  .footer iframe {
    width: 100%;
    height: auto; }
  .footer .copy {
    background-color: #252a2e;
    padding: 10px 0; }

.cafe-menu {
  height: auto;
  width: 100%;
  font-family: "Lato", sans-serif !important;
  background: linear-gradient(#05171b, #282e34);
  padding-top: 150px; }

.image-menu-wrapper {
  display: block;
  text-align: center;
  max-width: 680px;
  margin: 0 auto 20px; }
  .image-menu-wrapper img {
    width: 100%;
    height: auto; }

.mfp-arrow {
  outline: none !important; }
